  
	<div class="py-10">
    <header>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          <%= @publication.name %>
        </h1>
      </div>
    </header>

    <main class="mt-8">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
				<h2 class="text-2xl font-bold leading-tight text-gray-900 mb-4">Statistiques</h2>
				
				<h3 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-900">Par jour</h3>
				<div class="mt-6 mb-4">
					<%= column_chart number_of_publication_articles_daily_path(publication_id: @publication.id), title: "Nombre d'articles publiés par jour", stacked: true %>
				</div>

				<ul>
					<li>Moyenne d'articles publiés par jour : <%= @average_articles_published %></li>
					<li>Moyenne d'articles gratuits publiés par jour : <%= @average_free_articles_published %></li>
					<li>Moyenne d'articles premium publiés par jour : <%= @average_premium_articles_published %></li>
				</ul>

				<br />

				<h3 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-900">Par semaine</h3>
				<div class="mt-6 mb-4">
					<%= column_chart number_of_publication_articles_weekly_path(publication_id: @publication.id), title: "Nombre d'articles publiés par semaine", stacked: true %>
				</div>

				<ul>
					<li>Moyenne d'articles publiés par semaine : <%= @average_articles_published_weekly %></li>
					<li>Moyenne d'articles gratuits publiés par semaine : <%= @average_free_articles_published_weekly %></li>
					<li>Moyenne d'articles premium publiés par semaine : <%= @average_premium_articles_published_weekly %></li>
				</ul>

				<br />

				<div class="mt-6 mb-4">
					<%= pie_chart pie_premium_articles_path(publication_id: @publication.id), title: "Pourcentage articles gratuits / payants", suffix: "%" %>
				</div>

			</div>

      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-6 mt-2">
				<h2 class="text-2xl font-bold leading-tight text-gray-900 mb-2">Liste d'articles (<%= @publication.articles.size %>)</h2>

				<div class="flex flex-col mt-6">
					<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
						<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
							<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
								<table class="table-fixed w-full divide-y divide-gray-200">
									<thead class="bg-gray-50">
										<tr>
											<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-6/12">
												Titre
											</th>
											<th scope="col" class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-3/12">
												Date de publication
											</th>
											<th scope="col" class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-2/12">
												Premium
											</th>
											<th scope="col" class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-4/12">
												Url
											</th>
										</tr>
									</thead>
									<tbody>

										<% @publication.articles.each_with_index do |article, index| %>
											<% if index.odd? %>
												<!-- Odd row -->
												<tr class="bg-white">
													<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 truncate">
														<%= article.title %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
														<%= article.publication_date %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
														<%= article.premium %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 truncate">
														<%= link_to article.url, article.url, title: article.title %>
													</td>
												</tr>
											<% else %>
												<!-- Even row -->
												<tr class="bg-gray-50">
													<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 truncate">
														<%= article.title %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
														<%= article.publication_date %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
														<%= article.premium %>
													</td>
													<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 truncate">
														<%= link_to article.url, article.url, title: article.title %>
													</td>
												</tr>
											<% end %>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
      </div>
    </main>
  </div>
</div>
